<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/nkcha/IdeaProjects/RestAssured_Demo_Jatin_GitHub_Action">
        <classes>
            <class name="org.work.LoginTest">
                <methods>
                    <include name="userPost"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>